.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .modalWindow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #3a3a3a;
        min-width: 200px;
        padding: 5px 25px 30px 25px;
        border-radius: 4px;

        .modalHeader {
            text-align: right;
            margin-bottom: 5px;

            span {
                font-size: 36px;
                cursor: pointer;
                color: #fff;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
