.history {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    margin-right: -20px;
    font-family: Helvetica;
    color: #646464;
    list-style: none;
    counter-reset: historyCounter;

    li {
        line-height: 20px;
        margin: 10px 0;
        cursor: pointer;

        &::before {
            content: counter(historyCounter);
            counter-increment: historyCounter;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            text-align: center;
            border-radius: 50%;
            color:#fff;
            background:#2980b9;
        }

        &:hover {
            color: #000;
        }

        &.active::before,
        &:hover::before {
            background-color: #2ecc71;
        }
    }
}